@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);

h1, h2, h3, h4, h5, h6, p, span, a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	
}

a {
	color: #260D0D;
	transition: 300ms ease all;
}

a:hover {
	color: #885050;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 14px;
}

h2:first-child {
	margin-top: 30px;
}

h2 span {
	display: block;
	font-size: 16px;
}

body {
	background-color: #EBE2D5;
}

.logo {
	margin: 1em auto;
	display: block;
}

.product {
	background-color: #F0E9DE;
	padding: 1em 1em 1.4em;
	margin: 2em auto 3em;
}

.branding h1 {
	position: absolute;
	left: -9999999px;
	top: -9999999px;
}

.footer {
	padding: .8em 0;
	font-size: 80%;
	text-transform: uppercase;
	text-align: center;
}

.buy-now {
	text-transform: uppercase;
	font-size: 80%;
	letter-spacing: 2px;
	line-height: 1.4;
	display: block;

}

sup {
	font-size: 50%;
	top: -0.8em;
}

.product .columns:first-child {
	text-align: right;
}

.product img {
	margin: -5em 0;
    width: 300px;
}

.instansive span{
	font-size: 12px;
	line-height: 1.3;
}